.wrapper {
  max-width: sV.$container;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 15px;

  @media (width <= sV.$tablet) {
    margin: 0 10px;
    padding: 20px 10px;
  }
}

.heading {
  font-size: 32px;
  color: sV.$primary;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.subheading {
  font-size: 18px;
  color: sV.$text;
  line-height: 1.7;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  @media (width <= sV.$tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 320px;
  padding: 30px 20px;
  background: sV.$gray-brighter-4;
  border-radius: 12px;
}

.itemTitle {
  font-weight: 700;
  font-size: 22px;
  color: sV.$primary;
  margin-bottom: 10px;
}

.itemLink {
  font-weight: 400;
  font-size: 18px;
  color: sV.$text;

  &:hover {
    color: sV.$primary;
    text-decoration: underline;
  }
}

.itemHours {
  font-size: 16px;
  color: sV.$text;
  line-height: 1.8;
  text-align: center;

  p {
    margin: 4px 0;
  }
}
