.container {
  max-width: sV.$container;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;

  @media (width <= sV.$tablet) {
    flex-direction: column; 
    align-items: center;
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
}

.itemTitle {
    font-weight: 700;
    font-size: 22px;
}

.itemDescription {
    font-weight: 400;
    font-size: 18px;
}

.itemDescriptionLink {
    font-weight: 400;
    font-size: 18px;

    &:hover {
        color: sV.$primary;
        text-decoration: underline;
    }
}
