.galeriaSekcja {
  margin-bottom: 10px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (width <= sV.$tablet) {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
  }
}

.galeria img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  object-position: center top;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
  border-radius: 6px;

  @media (width <= sV.$tablet) {
    flex: 0 0 80%;
    scroll-snap-align: start;
    aspect-ratio: 4 / 5;
  }
}

.imageWrapper img {
  object-fit: cover;
}
