.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-bottom: 80px;

    @media (width <= sV.$tablet) {
        margin: 0 10px;
    }
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 40px;
}

.text {
    font-weight: 400;
    font-size: 22px;
    margin-top: 15px;
}