.container {
    width: 100%;
    height: 100%;
    background-color: sV.$gray-brighter-2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footerColumns {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;

    @media (max-width: sV.$tablet) {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: sV.$tablet) {
        align-items: center;
        text-align: center;
    }
}

.heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (max-width: sV.$tablet) {
        align-items: center;
    }
}

.column ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.column ul li a:hover {
    color: #28a745;
    text-decoration: underline;
}