.galeriaSekcja {
  margin-bottom: 60px;
  margin-top: 40px;

  h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
  }
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (width <= sV.$tablet) {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
  }
}

.galeria img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 6px;

  @media (width <= sV.$tablet) {
    flex: 0 0 80%;
    scroll-snap-align: start;
    aspect-ratio: 4 / 5;
  }
}

.imageWrapper img {
  object-fit: cover;
}
