.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-bottom: 80px;

    @media (width <= sV.$tablet) {
        margin: 0 10px;
    }

    p {
        font-size: 22px;

        @media (width <= sV.$tablet) {
            font-size: 18px;
        }
    }

    a {
        text-decoration: underline;

        &:hover {
            color: sV.$primary;
        }
    }
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}
