.transfer {
  margin-top: 30px;
  text-align: center;
  padding: 20px 15px;
  max-width: sV.$container;
}

.transferTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.transferLine {
  font-size: 20px;
  margin: 8px 0;
}

.transferLine strong {
  font-weight: 700;
}
