.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;

    h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .subtitle {
        margin: 10px 0 30px;
        font-size: 16px;
        line-height: 1.6;
        color: #555;
    }

    @media (width <= sV.$tablet) {
        margin: 0 10px;
        margin-top: 40px;

        h2 {
            font-size: 28px;
        }
    }
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.formBox {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(95, 94, 94, 0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 50px;

    @media (width <= sV.$tablet) {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 1px 3px rgba(95, 94, 94, 0.08);
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 950px;
        margin: 0 auto;
        padding: 20px 15px;
    }
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
        font-weight: 500;
    }

    input,
    textarea {
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
        transition: 0.2s;
        background-color: #fff;

        &:focus {
            border-color: #000;
        }
    }
}

.rodo {
    display: flex;
    gap: 10px;
    align-items: center;

    a {
        text-decoration: underline;
        color: sV.$primary;
    }

    span {
        font-size: 14px;
        color: #555;
    }
}

.submitBtn {
    padding: 14px 0;
    width: 100%;
    background: sV.$primary;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        opacity: 0.85;
    }
}

.info {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    max-width: 900px;
    justify-content: space-between;
    border-top: 1px solid sV.$gray-brighter-1;
    padding-top: 10px;

    @media (width <= sV.$tablet) {
        flex-direction: column;
    }
}

.infoItem {
    text-align: center;

    a {
        &:hover {
            color: sV.$primary;
            text-decoration: underline;
        }
    }

    p {
        font-weight: 600;
    }

    span {
        color: rgb(97, 97, 97);
    }
}

.infoItemCenter{
    text-align: center;
    // border-left: 1px solid sV.$gray-brighter-1;
    // border-right: 1px solid sV.$gray-brighter-1;
    width: 300px;

    a {
        &:hover {
            color: sV.$primary;
            text-decoration: underline;
        }
    }

    @media (width <= sV.$tablet) {
        width: 100%;
        margin: 20px 0;
    }

    p {
        font-weight: 600;
    }

    span {
        color: rgb(97, 97, 97);
    }
}