.container {
    margin: 0 auto;
    margin-top: 40px;
    background-color: sV.$primary;

    h2 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
    }

    @media (width <= sV.$tablet) {
        // margin: 0 10px;
        margin-top: 60px;
    }
}

.wrapper {
    display: flex;
    max-width: sV.$container;
    margin: 0 auto;
    padding: 40px 0;

    .imageWrapper {
        img {
            border-radius: 15px;
        }
    }

    .textWrapper {
        margin-left: 80px;
    }

    @media (width <= sV.$tablet) {
        flex-direction: column;
        padding: 0;

        .imageWrapper {
            img {
                border-radius: 0px;
            }
        }

        .textWrapper {
            margin: 0 10px;
            padding-bottom: 15px;
        }
    }
}

.wrapper__noBackground {
    width: 100%;
    background-color: white;
    padding: 40px 0;

    .inner {
        display: flex;
        max-width: sV.$container;
        margin: 20px auto;

        .imageWrapper {
            img {
                border-radius: 15px;
            }
        }

        .textWrapper {
            margin-left: 80px;
        }

        @media (width <= sV.$tablet) {
            flex-direction: column;
            
            .textWrapper {
                margin: 0 10px;
            }
        }

    }

    @media (width <= sV.$tablet) {
        flex-direction: column;
        padding: 20px 0;

        .imageWrapper {
            img {
                border-radius: 0px;
            }
        }

        .textWrapper {
            margin: 0 10px;
        }
    }
}

.description {
    font-size: 20px;
    max-width: 500px;
}

.button {
    margin-top: 80px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 15px;

    &:hover {
        background-color: sV.$primary;
        color: #fff;
    }

    &__white {
        margin-top: 80px;
        padding: 10px;
        border-radius: 15px;
        color: #fff;
        border: 1px solid #fff;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid sV.$primary;
        }
    }
}