.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-top: 30px;

    @media (width <= sV.$tablet) {
        margin: 0 10px;
    }
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: sV.$primary;

    @media (width <= sV.$tablet) {
        margin-top: 30px;
    }
}

.card {
    background-color: sV.$gray-brighter-1;
    border-radius: 15px;
    padding: 15px;
}

.cardTitle {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;

    @media (width <= sV.$tablet) {
        font-size: 22px;
    }
}

.cardTitle__drugi {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardText {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;

    @media (width <= sV.$tablet) {
        font-size: 18px;
    }
}

.cardText__drugi {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 22px;

    @media (width <= sV.$tablet) {
        font-size: 18px;
    }
}