.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-top: 30px;

    @media (width <= sV.$tablet) {
        margin: 0 10px;
    }
}

.title {
    font-size: 38px;
    font-weight: 500;
    color: sV.$primary;

    @media (width <= sV.$tablet) {
        margin-top: 30px;
    }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;

  @media (width <= sV.$tablet) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: sV.$gray-brighter-1;
  padding: 20px;
  border-radius: 8px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 500;
}

.cardDescription {
    font-size: 20px;
    font-weight: 400;
}