.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-bottom: 80px;

    @media (width <= sV.$tablet) {
        margin: 0 10px;
    }
}

.title {
    font-size: 38px;
    font-weight: 500;
}

.textTitle {
    font-weight: 500;
    font-size: 26px;
    margin-top: 20px;

    @media (width <= sV.$tablet) {
        margin-top: 40px;
        font-size: 22px;
    }
}

.textDescription {
    font-weight: 400;
    font-size: 22px;

    @media (width <= sV.$tablet) {
        font-size: 18px;
    }
}

.sub__textDescription {
    font-weight: 400;
    font-size: 22px;
    margin-top: 20px;
}

.items {
  max-width: sV.$container;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;

  @media (width <= sV.$tablet) {
    flex-direction: column; 
    align-items: center;
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.itemTitle {
    font-weight: 700;
    font-size: 22px;
    height: 85px;
}

.imageWrapper {
    width: 180px;
    height: 180px;
    background-color: sV.$gray-brighter-3;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}