.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-bottom: 80px;

    @media (width <= sV.$tablet) {
        margin: 0 10px;
    }
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.textTitle {
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;

    @media (width <= sV.$tablet) {
        margin-top: 40px;
        font-size: 22px;
    }
}

.textDescription {
    font-weight: 400;
    font-size: 22px;
    margin-top: 15px;

    @media (width <= sV.$tablet) {
        font-size: 18px;

        &:last-child {
            margin-bottom: 40px;
        }
    }
}

.sub__textDescription {
    font-weight: 400;
    font-size: 22px;
    margin-top: 20px;
}

.items {
  max-width: sV.$container;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;

  @media (width <= sV.$tablet) {
    flex-direction: column; 
    align-items: center;
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.itemTitle {
    font-weight: 700;
    font-size: 22px;
    height: 85px;
}

.imageWrapper {
    width: 180px;
    height: 180px;
    background-color: sV.$gray-brighter-3;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.buttonWrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;

  @media (width <= sV.$tablet) {
    margin-bottom: 40px;
  }
}

.outlineButton {
  background: rgba(255, 255, 255, 0.05);
  color: #000000;
  padding: 14px 34px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  backdrop-filter: blur(5px);

  &:hover {
    background: rgba(255, 255, 255, 0.15);
    border-color: sV.$primary;
    transform: translateY(-3px);
    color: sV.$primary;
  }
}

@media (width <= sV.$tablet) {
  .buttonWrapper {
    bottom: 15px;
  }

  .outlineButton {
    padding: 12px 26px;
    font-size: 16px;
  }
}