.container {
    max-width: sV.$container;
    margin: 0 auto;
    margin-top: 100px;

    h2 {
        font-weight: 600;
        font-size: 38px;
    }

    @media (width <= sV.$tablet) {
        margin: 0 10px;
        margin-top: 50px;
    }
}

.wyroznione {
    color: sV.$primary;
}

.dlaczego {
    font-size: 28px;
    font-weight: 500;
}

.label {
    font-size: 20px;
    font-weight: 700;
}

.statystyki {
    margin-top: 35px;
    display: flex;
    justify-content: right;
    margin-right: 160px;
    gap: 50px;

    span {
        font-size: 50px;
        font-weight: 600;
    }

    @media (width <= sV.$tablet) {
        margin: 20px 0;
        justify-content: center;
    }
}

.statystyka {
    text-align: center;
}

.imageWrapper {
  margin: 50px auto 0;
  position: relative;
  max-width: sV.$container;
  height: 680px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);

  border: 4px solid rgba(30, 122, 31, 0.25);

  @media (width <= sV.$tablet) {
    width: 100%;
    height: 205px;
  }
}

.image {
  object-fit: cover;
  transition: 0.4s ease;
  
  &:hover {
    transform: scale(1.06);
  }
}

.plus {
    font-size: 38px;
}

.overlayText {
  position: absolute;
  top: 20px;
  left: 30%;
  transform: translateX(-50%);
  color: white;
  background: rgba(0,0,0,0.2); 
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;

  @media (width <= sV.$tablet) {
    font-size: 18px;
    padding: 5px;
    left: 50%;
    width: 100%;
    background: none;
  }
}
