.galeriaSekcja {
  margin-bottom: 60px;
  margin-top: 40px;
  padding: 20px;

  h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
  }

  &.background {
    background-color: sV.$primary;
    border-radius: 15px;
    color: #fff;

    h3 {
      color: #fff;
    }
  }
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.galeria {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding-bottom: 10px;

  img {
    flex: 0 0 auto;
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    scroll-snap-align: start;
  }
}

.nav {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(90, 90, 90);
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 4px;
  z-index: 10;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}

.nav:first-of-type {
  left: 0;
}

.nav:last-of-type {
  right: 0;
}

@media (min-width: sV.$tablet + 1px) {
  .nav {
    display: block;
  }
}

@media (max-width: sV.$tablet) {
  .galeria {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
}

.opis {
  font-size: 22px;
  font-weight: 400;
  max-width: 75%;
}