.container {
    max-width: sV.$container;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;

    h2 {
        font-size: 38px;
        font-weight: 600;
    }

    p {
        font-size: 18px;
    }

    @media (width <= sV.$tablet) {
        margin: 0 10px;
        margin-top: 20px;
    }
}

.imgWrapper {
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 15px;

    @media (width <= sV.$tablet) {
        display: none;
        position: static;
        transform: none;
        margin-bottom: 20px;
        left: 0;
    }
}

.image {
    width: 550px;
    height: auto;
    border-radius: 15px;

    @media (width <= sV.$tablet) {
        width: 180px;
    }
}

.box {
    background-color: #fff;
    width: 70%;
    margin-left: auto;
    padding: 40px 30px;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (width <= sV.$tablet) {
        width: 100%;
        margin-left: 0;
        padding: 25px 20px;
    }
}

.item {
    max-width: 675px;
    margin: 0 auto;
    padding: 18px 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 6px 16px rgba(0,0,0,0.06);
    transition: transform 180ms ease, box-shadow 180ms ease;

     &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 24px rgba(0,0,0,0.10);
    }

    h3 {
        font-size: 24px;
        margin-bottom: 12px;
        font-weight: 600;
    }
}

.itemInfo {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    @media (width <= sV.$tablet) {
        gap: 10px;
        align-items: center;
    }
}

.icon {
    margin-top: 20px;
    filter: brightness(0) saturate(100%) contrast(120%);

    @media (width <= sV.$tablet) {
        margin-top: 0;
    }
}
