//* Kolory *//

$primary: #1fa11b;
$secondary: orange;

$gray-brighter-1: #efefef;
$gray-brighter-2: #d3d3d3;
$gray-brighter-3: #c2c2c2;
$gray-brighter-4: #f7f7f7;

//* Rozmiary *//

$phone-min: 320px;
$phone-standard: 540px;
$one-column-layout: 640px;
$tablet: 768px;
$laptop-min: 1140px;
$desktop: 1200px;
$container: 1300px;