.iconBox {
    display: inline-grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.icon {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.wspolpraca {
    background-image: url('/icons/wspolpraca.svg');
}

.stoper {
    background-image: url('/icons/stoper.svg');
}

.wizyta {
    background-image: url('/icons/wizyta.svg');
}

.koloZebate {
    background-image: url('/icons/koloZebate.svg');
}